@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background: white !important;
  background-color: white !important;
}

.container {
  padding: 3rem 1.5rem 3rem 1.5rem;
}
