@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: "Helvetica Neue", sans-serif; */
  font-family: "Oswald", serif;
  background: white;
  height: 100vh;
  width: 100vw;
}

.container {
  padding: 3rem 1.5rem 3rem 1.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-9 h-9 bg-red-200 rounded-full;
}

input[type="range"]::-moz-range-thumb {
  @apply appearance-none w-9 h-9 bg-red-200 rounded-full;
}

input[type="range"]::-ms-thumb {
  @apply appearance-none w-9 h-9 bg-red-200 rounded-full;
}
